*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font: 'Poppins', sans-serif;
    --dark: #202020;
    --white: #fefefe;
    --red: #c70c0c;
    --violeta: #4d0b97;
}
.container-body{
    background-color: #fefefe;
    height: 100vh;
}
.container-body .aside-menu{
    background-color: var(--dark);
    transition: all .5s ease-in-out;
    width: 300px;
    height: 100%;
}
.container-body .aside-menu .menu {
    display: grid;
    grid-template-rows: 100px 75% 10%;
    position: static;
}
.container-body .aside-menu .header > .title-aside{
    font: 600 1.2rem var(--font);
    transition: all .5s ease-in-out;
}
.container-body .aside-menu .header .menu-logo,
.container-body .aside-menu .footer .icon-search{
    width: 35px;
    cursor: pointer;
}
.container-body .aside-menu .nav .items{
    background-color: var(--dark);
    color: var(--white);
    width: 100%;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.container-body .aside-menu .nav .items:hover{
    background-color: var(--violeta);
}
.container-body .aside-menu .nav .items .icon-user,
.container-body .menu-principal .alert .icon-alert{
    width: 25px;
}
.container-body .aside-menu .nav .items .ancla{
    font: 400 1rem var(--font);
    transition: all .5s ease-in-out;
}
.container-body .aside-menu .footer .input{
    transition: all .5s ease-in-out;
    font: 400 .9rem var(--font)
}
.container-body .aside-menu .footer .input::placeholder{
    font: 400 .8rem var(--font)
}
.container-body .menu-principal{
    width: 80%;
}
.container-body .menu-principal .title-index{
    font: 400 1.5rem var(--font)
}
.container-body .menu-principal .logo-crm{
    width: 75%;
}

/* Estilos de formulario.html*/
.container-body .menu-principal .card-form{
    width: 50%;
}
.container-body .menu-principal .card-form .label-input{
    font: 400 1rem var(--font)
}

.container-body .menu-principal .card-form .form-control:focus{
    border-color: inherit;
}
.container-body .menu-principal .card-form .buttons .btn{
    cursor: pointer;
}
.container-body .menu-principal .card-form .form-control .buttons .btn:hover{
    background-color: var(--violeta);
}
.container-body .menu-principal .alert .title-alert{
    font: 400 1rem var(--font)
}
.container-body .menu-principal .cards-client{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    row-gap: 15px;
    column-gap: 30px;
}

.msgErr{
    background-color:  var(--red);
    font: 600 1rem var(--font)
}
.hidden{
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}